@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .title {
        // font-size: 32px;
        &_fz48fw700 {
            font-size: 42px;
        }
    }
    .header {
        &__wrapper { 
            height: 80px;
        }
    }
    .promo {
        padding-top: 180px;
        padding-bottom: 180px;
        &__subtitle {
            margin-top: 60px;
        }
    }
    .order {
        padding: 80px 0 120px 0;
        min-height: 850px;
        .scheme {
            &:before {
                left: 160px;
                content: "●●●●●●●●●●●●●●●●●●●●●●●●";
                letter-spacing: 19px;
            }
            &__item {
                width: 192px;
            }
        }
        .form {
            grid-template-columns: repeat(3, 300px);
        }
        &__btn {
            min-width: 300px;
        }
    }
    .footer {
        &__wrapper {
            padding: 0 10px;
            grid-template-columns: 200px 380px 200px;
        }
        .contacts {
            grid-template-columns: repeat(auto-fit, 155px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        font-size: 30px;
        &_fz48fw700 {
            font-size: 34px;
        }
    }
    .btn {
        height: 37px;
        min-width: 163px;
        padding: 11px 40px;
    }
    .header {
        &__logo {
            font-size: 24px;
        }
        .navbar {
            &__item {
                padding-left: 30px;
            }
        }
    }
    .promo {
        padding-top: 150px;
        padding-bottom: 150px;
        &__title {
            width: 75%;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__item {
            font-size: 16px;
        }
        &__btns {
            margin-top: 70px;
        }
    }
    .order {
        &__subtitle {
            font-size: 16px;
        }
        .scheme {
            &:before {
                top: 25px;
                left: 116px;
                content: "●●●●●●●●●●●●●●●●●●●●●";
                letter-spacing: 15.5px;
            }
            &__item {
                width: 144px;
            }
            &__icon {
                width: 70px;
                height: 70px;
                border: 3px solid #286690;
            }
            &__img {
                width: 70%;
            }
            &__descr {
                font-size: 12px;
            }
        }
        .form {
            grid-template: repeat(3, minmax(40px, auto)) / repeat(2, 345px);
            grid-auto-rows: minmax(40px, auto);
            .input {
                &__email, &__name {
                    font-size: 16px;
                    padding: 9px;
                }
            }
            .select {
                &__styled {
                    font-size: 16px;
                    padding: 9px 50px 9px 9px;
                }
            }
            .rating {
                &__title, &__counter {
                    font-size: 16px;
                }
            }
            .file {
                padding: 8px;
                max-height: 40px;
                &__name {
                    font-size: 14px;
                    line-height: 14px;
                }
                &__img {
                    width: 16px;
                }
            }
        }
        &__btn {
            min-width: 300px;
        }
    }
    .footer {
        height: 140px;
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 400px);
            justify-content: center;
        }
        .rights {
            text-align: center;
            order: 3;
        }
        .payment {
            &:after{
                display: none;
            }
            &:before {
                display: none;
            }
        }
        .contacts {
            justify-content: space-around;
            &__link {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        font-size: 26px;
        &_fz48fw700 {
            font-size: 30px;
        }
    }
    .header {
        .navbar {
            &__list {
                position: fixed;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 40px;
                top: 0;
                left: -100%;
                width: 50%;
                height: 100vh;
                padding: 20px 15px;
                background-color: rgba(0,0,0, .95);
                transition: 0.6s all;
                &_active{
                    left: 0;
                }
            }  
            &__item {
                padding-right: 0;
                border: none;
                margin: 10px 0;
            }
            &__link {
                font-size: 20px;
            }
        }
        &__burger {
		display: block;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		width: 27px;
		height: 12px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 3px;
                transition: 0.5s all;
            }
            &_active {
                span {
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: translateY(3px) rotate(-45deg);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:nth-child(3) {
                        transform: translateY(3px) rotate(45deg);
                    }
                }
            }  
        }
    }
    .promo {
        padding-bottom: 100px;
        &__title {
            width: 80%;
        }
        &__subtitle {
            margin-top: 40px;
            font-size: 16px;
            width: 80%;
        }
        &__item {
            font-size: 14px;
            width: 80%;
        }
        &__btns {
            gap: 15px;
            margin-top: 40px;
        }
    }
    .order {
        &__subtitle {
            font-size: 14px;
        }
        .scheme {
            margin-top: 50px;
            flex-direction: column;
            width: 100%;
            &:before {
                display: none;
            }
            &__item {
                flex-direction: row;
                margin-top: 10px;
                width: 100%;
                justify-content: center;
                gap: 20px;
                &:before {
                    display: none;
                }
            }
            &__icon {
                width: 60px;
                height: 60px;
            }
            &__img {
                width: 60%;
            }
            &__descr {
                margin: 0;
                width: 300px;
                font-size: 14px;
                text-align: start;
            }
        }
        .form {
            grid-template-columns: repeat(2, 260px);
            gap: 20px;
        }
        &__btn {
            min-width: 260px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 24px;
        &_fz48fw700 {
            font-size: 26px;
        }
    }
    .btn {
        height: 33px;
        min-width: 130px;
        padding: 9px 20px;
        font-size: 12px;
    }
    .header {
        &__wrapper {
            height: 65px;
        }
        &__logo {
            font-size: 20px;
        }
        .navbar {
            &__list {
                width: 80%;
            }
        }
    }
    .promo {
        padding-top: 100px;
        padding-bottom: 80px;
        background-position: 58% 50%;
    }
    .order {
        .scheme {
            &__descr {
                width: 200px;
            }
        }
        .form {
            grid-template-columns: 285px;
            justify-content: center;
            .rating {
                grid-column: span 1;
                &__title, &__counter {
                    font-size: 14px;
                }
            }
            .file {
                &__name {
                    font-size: 13px;
                    line-height: 13px;
                }
                &__img {
                    width: 16px;
                }
            }
        }
    }
    .footer {
        height: 200px;
        &__wrapper {
            padding: 0;
            width: 100%;
            grid-template-columns: repeat(auto-fit, 100%);
            justify-content: center;
        }
        .rights {
            display: block;
            margin: 0 auto;
            width: 180px;
            text-align: center;
            order: 3;
        }
        .payment {
            justify-content: space-around;
            &__item {
                grid-template: repeat(2, 20px) / auto;
                row-gap: 5px;
                justify-items: center;
                
            }
        }
        .order {
            justify-content: space-around;
            &__link {
                justify-content: center;
            }
        }
    }
}