.promo {
    height: 850px;
    padding-top: 203px;
    background: url('../img/main_bg.jpg') center (center/cover) no-repeat;
    &__title {
        width: 780px;
        color: $main-color;
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        span {
            color: #000;
        }
    }
    &__subtitle {
        margin-top: 90px;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
    }
    &__list {
        margin-top: 10px;
    }
    &__item {
        position: relative;
        padding-left: 25px;
        margin-bottom: 5px;
        width: 60%;
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        list-style-type: none;
        &:before {
            position: absolute;
            content:'';
            width: 4.94px;
            height: 1.51px;
            background: #000;
            z-index: 1;
            left: 10px;
            top: 13px;
        }
    }
    &__btns {
        margin-top: 80px;
        display: flex;
        gap: 30px;
    }
}