.title {
    color: $main-color;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    &_white {
        color: #FFF;
    }
    &_black {
        color: #000;
    }
    &_fz48fw700 {
        font-size: 48px;
        font-weight: 700;
    }
}